<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Storage Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    
    <!-- Camera for intruder detection -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    
    <!-- Biometric -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    
    <!-- Vibration -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vexor"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="34">

        <!-- Splash Screen (Launcher) -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Vexor.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth Screen -->
        <activity
            android:name=".ui.AuthActivity"
            android:exported="false"
            android:theme="@style/Theme.Vexor.Splash"
            android:screenOrientation="portrait" />

        <!-- Setup Activity (first time) -->
        <activity
            android:name=".ui.SetupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Main Vault Activity -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- Photo Viewer -->
        <activity
            android:name=".ui.PhotoViewerActivity"
            android:exported="false"
            android:theme="@style/Theme.Vexor.Fullscreen" />

        <!-- Video Player -->
        <activity
            android:name=".ui.VideoPlayerActivity"
            android:exported="false"
            android:theme="@style/Theme.Vexor.Fullscreen" />

        <!-- Settings -->
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false" />

        <!-- Intruder Logs -->
        <activity
            android:name=".ui.IntruderLogActivity"
            android:exported="false" />

        <!-- Change PIN -->
        <activity
            android:name=".ui.ChangePinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Setup Fake PIN -->
        <activity
            android:name=".ui.SetupFakePinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- File Provider for sharing -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Share Receiver - Accept files from other apps -->
        <activity
            android:name=".ui.ShareReceiverActivity"
            android:exported="true"
            android:theme="@style/Theme.Vexor.Dialog"
            android:excludeFromRecents="true">
            
            <!-- Receive single image -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            
            <!-- Receive multiple images -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            
            <!-- Receive single video -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            
            <!-- Receive multiple videos -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            
            <!-- Receive documents -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/*" />
            </intent-filter>
            
            <!-- Receive any file -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            
        </activity>

    </application>

</manifest>
